body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(37, 118, 224, 0.671);
    color: #ff0;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #ff0;
    color: black;
    border: solid 2px black;
    box-shadow: 0 4px 2px rgb(0, 0, 0);

}

.container { 
     display: flex;
     justify-content: center;
     align-items: center; 

}

.logo img { 
    height: 100px;
    border: solid 3px black;
    box-shadow: 0 7px 7px black;
    border-radius: 0 10px 0 10px;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle1 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px;
    padding: 20px;
    transition: border-color 2s ease,
    background-color 1s ease, box-shadow 1s ease;
}
.circle2 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(239, 255, 16);
    width: 70px;
    height: 70px;
    border-radius: 1px 10px 1px 10px;
    margin: 10px;
    padding: 20px;
    transition: border-color 2s ease,
    background-color 1s ease, box-shadow 1s ease;
}

.circle1:hover{
    background-color: rgb(252, 252, 23);
    border-color: rgb(252, 253, 248) ;
    box-shadow: 0 7px 10px rgb(231, 3, 3);
}

.circle2:hover{
    background-color: rgba(194, 94, 36, 0.671);
    border-color: rgb(0, 0, 0);
    box-shadow: 0 7px 10px rgba(145, 15, 206, 0.671);
}
